
body{
    background-color: #ffeaa7;
}

.main h1 {
    color: brown;
}

.topInfo{
     display: block;
    
}

.topInfo b{
    color: brown;
}

.topInfo ul{
    list-style-type: none;
    
}

.topInfo li{
    float: left;
    margin:5px;

}

.malzemelerDetay ul{
margin:10px;
   display:block;
   float:left;
}
.tarifDetay{
    width: 100%;
    float:left;
}

.last{
    float: left;
}